language: android

sudo: false

android:
  components:
    - tools
    - build-tools-23.0.2
    - android-23
    - platform-tools-23
    - extra-google-m2repository
    - extra-android-m2repository
    - sys-img-armeabi-v7a-android-15

jdk:
    - oraclejdk8

before_script:
  - echo no | android create avd --force -n test -t android-15 --abi armeabi-v7a
  - emulator -avd test -no-skin -no-audio -no-window &
  - touch gradle.properties
  - echo KS=test >> gradle.properties
  - echo KSPWD=test >> gradle.properties
  - echo KALIAS=test >> gradle.properties
  - echo KPWD=test >> gradle.properties
  - ./gradlew assembleDebugAndroidTest
  - ./gradlew assembleDebug
  - android-wait-for-emulator
  - adb shell input keyevent 82 &

script: ./gradlew connectedCheck
