language: android

sudo: false

env:
  global:
    - ANDROID_TARGET=android-19
    - ANDROID_ABI=armeabi-v7a

android:
  components:
    - tools
    - build-tools-26.0.2
    - android-26
    - platform-tools
    - extra-android-m2repository
##    - sys-img-${ANDROID_ABI}-${ANDROID_TARGET}

jdk:
    - oraclejdk8

before_script:
  - touch gradle.properties
  - echo KS=test >> gradle.properties
  - echo KSPWD=test >> gradle.properties
  - echo KALIAS=test >> gradle.properties
  - echo KPWD=test >> gradle.properties
##  - echo no | android create avd --force -n test -t $ANDROID_TARGET --abi $ANDROID_ABI
##  - echo no | android -v create avd --force -n test -b $ANDROID_ABI -k 'system-images;android-15;default;armeabi-v7a'

script:
  - ./gradlew assembleDebug assembleDebugAndroidTest  --no-daemon --stacktrace
##  - emulator -avd test -no-skin -no-audio -no-window &
##  - android-wait-for-emulator
##  - adb shell input keyevent 82 &
##  - ./gradlew connectedCheck -PdisablePreDex --stacktrace

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.android/build-cache