<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.vexelon.currencybg.app"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="1.0.0">

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.PrefsActivity"
            android:label="@string/prefs_title"></activity>

        <!--Service declared in manifest -->
        <service android:name="net.vexelon.currencybg.app.services.RateService" />

    </application>

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="22"></uses-sdk>

</manifest>
